<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header class="yellow-header">
        <img src="/images/logo-mercado-liebre.svg" alt = 'Logo de Mercado Libre'>
        <div><div class="search-bar"></div></div>
        <div><div><i class="fas fa-search"></i></div></div>
        <div class="center"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</div>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            
            <ul>
                <li><a href="#">Creá tu cuenta</a> <i class="far fa-address-card"></i></li>
                <li><a href="#">Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div class="burger-menu"><i class="fas fa-bars"></i></div>
    </header>
    <img src="images/img-home-banner.jpg" width="500" alt="banner">
    <br>
    <br>
    <main>
        <section>
            <header>
                <h2>Basado en tu última visita</h2>
            </header>
            <article>
                <img src="images/img-cafetera-moulinex.jpg" alt ="imagen de la cafetera">
                <p class="precios">$6.770</p>
                <p class="descuentos">40% OFF</p>
                <p class="descripciones">Cafetera Moulinex</p>
            </article>
            <article>
                <img src="images/img-macbook-pro-2019.jpg" alt ="imagen de Macbook">
                <p class="precios">$230.000</p>
                <p class="descuentos">20% off</p>
                <p class="descripciones">MacBook Pro 2019</p>
            </article>
            <article>
                <img src="images/img-samsung-galaxy-s10.jpg" alt ="imagen de Samsung Galaxy S10">
                <p class="precios">$70.500</p>
                <p class="descuentos">10% off</p>
                <p class="descripciones">Samsung Galaxy 10</p>
            </article>
            <article>
                <img src="images/img-tv-samsung-smart.jpg" alt ="imagen del SmartTV">
                <p class="precios">$23.200</p>
                <p class="descuentos">5% off</p>
                <p class="descripciones">SmartTV Samsung 43"</p>
            </article>
        </section>
        <section>
            <header>
                <h2>Sección de Ofertas</h2>
            <article>
                <img src="images/img-cafetera-moulinex.jpg" alt ="imagen de la cafetera">
                <p class="precios">$6.770</p>
                <p class="descuentos">40% OFF</p>
                <p class="descripciones">Cafetera Moulinex</p>
            </article>
            <article>
                <img src="images/img-macbook-pro-2019.jpg" alt ="imagen de Macbook">
                <p class="precios">$230.000</p>
                <p class="descuentos">20% off</p>
                <p class="descripciones">MacBook Pro 2019</p>
            </article>
            <article>
                <img src="images/img-samsung-galaxy-s10.jpg" alt ="imagen de Samsung Galaxy S10">
                <p class="precios">$70.500</p>
                <p class="descuentos">10% off</p>
                <p class="descripciones">Samsung Galaxy 10</p>
            </article>
            <article>
                <img src="images/img-tv-samsung-smart.jpg" alt ="imagen del SmartTV">
                <p class="precios">$23.200</p>
                <p class="descuentos">5% off</p>
                <p class="descripciones">SmartTV Samsung 43"</p>
            </article>
            </header>
        </section>
    </main>
    <footer>
        <section>
            <div><i class="fas fa-credit-card"></i></div>
                <div class="title">Pagá con tarjeta o en efectivo</div>
                    <div>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</div>
                <br>
            <div><i class="fas fa-gift"></i></div>
                <div class="title">Envío gratis desde los $2.500</div>
                    <div>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</div>
                <br>
            <div><i class="fas fa-user-shield"></i></div>
                <div class="title">Seguridad, de principio a fin</div>
                    <div>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</div>
            <br>
            <div>Copyright &copy 1999-2020 MercadoLiebre S.R.L.</div>
        </section>
    </footer>
</body>
</html>