<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    <section>
        <header>
            <h2>Basado en tu última visita</h2>
        </header>
        <article>
            <img src="images/img-cafetera-moulinex.jpg" width="300" alt ="imagen de la cafetera">
            <div>$6.770</div>
            <div>40% OFF</div>
            <div>Cafetera Moulinex</div>
        </article>
        
        <article>
            <img src="images/img-macbook-pro-2019.jpg" width="300" alt ="imagen de Macbook">
            <div>$230.000</div>
            <div>20% off</div>
            <div>MacBook Pro 2019</div>
        </article>

        <article>
            <img src="images/img-samsung-galaxy-s10.jpg" width="300" alt ="imagen de Samsung Galaxy S10">
            <div>$70.500</div>
            <div>10% off</div>
            <div>Samsung Galaxy 10</div>
        </article>

        <article>
            <img src="images/img-tv-samsung-smart.jpg" width="300" alt ="imagen del SmartTV">
            <div>$23.200</div>
            <div>5% off</div>
            <div>SmartTV Samsung 43"</div>
        </article>
    </section>

    <section>
        <header>
            <h2>Sección de Ofertas</h2>
        <article>
            <img src="images/img-cafetera-moulinex.jpg" width="300" alt ="imagen de la cafetera">
            <div>$6.770</div>
            <div>40% OFF</div>
            <div>Cafetera Moulinex</div>
        </article>

        <article>
            <img src="images/img-macbook-pro-2019.jpg" width="300" alt ="imagen de Macbook">
            <div>$230.000</div>
            <div>20% off</div>
            <div>MacBook Pro 2019</div>
        </article>

        <article>
            <img src="images/img-samsung-galaxy-s10.jpg" width="300" alt ="imagen de Samsung Galaxy S10">
            <div>$70.500</div>
            <div>10% off</div>
            <div>Samsung Galaxy 10</div>
        </article>

        <article>
            <img src="images/img-tv-samsung-smart.jpg" width="300" alt ="imagen del SmartTV">
            <div>$23.200</div>
            <div>5% off</div>
            <div>SmartTV Samsung 43"</div>
        </article>
        </header>
    </section>
</body>
</html>